<h2 class="letra center-xs">Colegio Tecnico Profesional De Santo Domingo</h2>
<div id="cajainfo">
	<p>Estamos situados en Santa Rosa, Santo Domingo, Heredia. </p>
	<p>Nuestro horario de trabajo es de Lunes a Viernes de 7:00 Am a 9:00pm</p>
	<p>Telefono: 2244-3917</p>
	<p>Nos pueden contactar en nuestro correo: <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Nuestro Correo</a></p>
</div>
<div class="center-xs">
	<h3>Un poco de Historia</h3>
	<p>Nuestra institución fue creada en 2012 gracias....</p>
</div>
<div class="center-xs">
	<h3>Mision</h3>

	<h3>Vision</h3>
</div>
<div>
	<h2 class="letra center-xs">Nuestras carreras tecnicas!</h2>
	<div class="especialidad">
	<nav>
		<ul>
			<li class="col-md-4"><a href="/welcome/conta">Contabilidad y Finanzas</a></li>
			<li class="col-md-4"><a href="/welcome/info">Informatica</a></li>
			<li class="col-md-4"><a href+"/welcome/diseno">Diseño</a></li><br>
			<li class="col-md-4"><a href="/welcome/ejecutivo">Ejecutivo para centros de servicio</a></li>
			<li class="col-md-4"><a href="/welcome/produ">Productividad & calidad</a></li>
			<li class="col-md-4"><a href="/welcome/electro">Electronica</a></li>
		</ul><br>
	</nav>
</div><br><hr size="5px" color="black"><br>
</div>