 <h2 class="letra center-xs">Contabilidad y Finanzas</h2>
 <div id="especialidad_info">
 	<nav>
 		<img src="/assets/conta.png" style="max-width:75% "><br>
 		<p>
			La especialidad de Contabilidad y Finanzas, pretende dar respuesta a un mercado laboral que requiere técnicos en el nivel medio, no solo en materia contable sino en materia financiera y así  contribuir a que en el país se materialicen las condiciones adecuadas para una participación eficiente, en ese mundo de relaciones complejas y cambios vertiginosos.
		</p>
		<p>
			Conocedores de las tendencias del mercado laboral, en el que aumentan las demandas de profesionales en el campo comercial y de servicios y, muy particularmente, de técnicos en el nivel medio en la especialidad de Contabilidad y Finanzas, con conocimientos actualizados, a la altura de los parámetros establecidos en los ámbitos nacional e internacional; se asume el reto de propiciar la actualización de los programas de estudio que respondan a esas necesidades imperiosas.
		</p>
		<p>Tradicionalmente la formación de técnicos en el nivel medio se ha llevado en la especialidad de Contabilidad, actualmente la asesoría de contabilidad  ha implementado las áreas de Finanzas, Costos y Auditoría; basado en un estudio de mercado, para dar respuesta al sector productivo, con el requisito previo de haber cursado y aprobado el tercer año de la educación general básica; las nuevas estructuras curriculares mantienen la anterior disposición,  sin embargo ofrecen diversos cambios en las subáreas que se detallarán más adelante.  Esta especialidad técnica, capacita al egresado para ser competente ante las diversas áreas que se ofrecen.</p>

		<p>El derrotero de la tarea educativa, en la especialidad de Contabilidad y Finanzas, lo constituye, principalmente la responsabilidad y el compromiso permanente con la adaptación al cambio, la superación continua y el crecimiento personal y social, baluarte del desarrollo en un momento histórico de fuerte incertidumbre.</p>

		<p>Debido a que los egresados de Contabilidad y Finanzas  se desenvuelven en las empresas comerciales, de servicios y manufactureras, su participación tiene un gran impacto en la economía nacional.  Un porcentaje muy significativo de estos jóvenes continúa estudios superiores de especialización, con grandes posibilidades de éxito, con lo cual se ratifica la necesidad de una atención especial desde los programas de estudio.</p>

		<p>Por consiguiente, la promoción de técnicos en el nivel medio que se formarán a partir de un diseño curricular, con orientaciones explícitas en los objetivos, temas y subtemas enunciados en los contenidos, mediante los procedimientos específicos para el logro de los procesos mentales y estructuras de pensamiento necesarios,  se busca facilitar el desarrollo psicoafectivo, social y facilitar la integración de los educandos al mundo del trabajo, con los conocimientos particulares de las especialidades.</p>

		<p>La especialidad de Contabilidad y Finanzas, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRNVhlendZY3JLbkE">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZROU0yVWZmU2p3V1U">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRemg4aUR5ZXRmbEU">Plan de Duodecimo Año </a>
 	</nav>
 </div>