<div class="">
	<h3 class="center-xs"> "Lo más importante en nuestra institución es el estudiante y la manera que este se desarrolla"</h3>
	<h4 class="center-xs">Algunas de nuestras actividades</h4>
	<nav>
		<ul>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13344787_1733010983636631_4092039504803114185_n.jpg?oh=570772b0c7e632d9b35a9584ed0def2b&amp;oe=57E641BE" style="
					    max-width: 100%;
					    max-height: 75%;
				"></a></li>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13413508_1733006003637129_667634262655706384_n.jpg?oh=93f446b9e865972c376043766bed0c20&amp;oe=57D1A1E2" style="
				    max-width: 75%;
				    max-height: 75%;
				"></a></li>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13428439_1732929366978126_4343073840148154635_n.jpg?oh=b2eaf249d04859d22aaa7a202fcdf8a5&amp;oe=57E2EC9F" style="
				    max-width: 75%;
				"></a></li><br>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13393905_1732913683646361_4731117983009292465_n.jpg?oh=6d47feef7c0c9a399ccebbd25957f32d&amp;oe=57CD771E" style="
					    max-width: 75%;
				"></a></li>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13394210_1732904133647316_2838210159480655122_n.jpg?oh=59a50efdea2d0b72104b0867b60a8f38&amp;oe=57C902A4" style="
					    max-width: 75%;
				"></a></li>
    			<li class="col-md-4"><a href=""><img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13406896_1732936543644075_3196485314337173607_n.jpg?oh=7bc33f9ae79a37c24bb631dc587b4347&amp;oe=57CE491D" style="
   					 max-width: 75%;
				"></a></li>
    		</ul><br>
	</nav>
</div>