 <h2 class="letra center-xs">Diseño Publicitario</h2>
 <div id="especialidad_info">
 	<nav>
 		<center><img src="/assets/diseno.jpg" style="max-width:75% "></center><br>
 		
		<p>
			La  especialidad de Diseño Publicitario forma parte de la oferta educativa de Educación Técnica, y se encuentra influenciada por un constante y acelerado desarrollo tecnológico, que ha hecho evolucionar de manera increíble los conocimientos por impartir.  Esto obliga a un replanteamiento periódico de los contenidos programáticos, en procura de que los egresados de las especialidades fundamentadas en dibujo y de diseño, afronten el reto de vida laboral con los elementos actualizados y acordes a la realidad, tanto tecnológica como política para responder a los nuevos modelos de globalización económica, el desarrollo sostenible, la búsqueda continua de la calidad, las alianzas tecnológicas, el uso de la informática, el manejo de otro idioma y la competitividad,  entre otros.</p>	
		<p>
			Nuestro país, inmerso en un mundo de constantes cambios, debe preparar a su población para enfrentar la nueva sociedad que día a día se construye, el nuevo individuo deberá poseer una actitud abierta hacia el cambio, hacia la investigación y respeto de las ciencias naturales y sociales.  Debe estar preparado para evolucionar con la tecnología, actualizando constantemente sus conocimientos, asumir un compromiso con el planeta y ser partícipe activo de un proceso de desarrollo sostenible.  Todo lo anterior,  le permitirá a Costa Rica contar con una sociedad competitiva en el presente siglo.</p>
		<p>
			Para responder a estos nuevos modelos de desarrollo, se presenta para las especialidades fundamentadas en el dibujo y el diseño nuevas estructuras curriculares y nuevos programas de estudio, en los que se incluyen subáreas formadas por unidades didácticas integradas y organizadas en forma lineal, lo cual da origen a una graduación secuencial del aprendizaje, de modo que una unidad prepara para la siguiente y faculta a los alumnos a tener acceso a aprendizajes permanentes,  recreando o reconstruyendo  el conocimiento a que se enfrentan.</p>
		<p>
			De acuerdo con los lineamientos de la Política Educativa hacia el Siglo XXI, los programas de Diseño Publicitario constituyen un eje de desarrollo social, económico y personal, aportando un valor agregado para la vida en igualdad de oportunidades y acceso, sin distingo de género.</p>
		<p>
			La especialidad de Diseño Publicitario prepara técnicos en el nivel medio capaces de conducir, instruir, administrar y proyectar tareas de carácter técnico, con la finalidad de diseñar y administrar propuestas que ayuden al proceso y darle asistencia a los profesionales en el campo de la publicidad, mercadeo, diseño de imagen empresarial, entre otras especialidades utilizadas en el campo del diseño publicitario y administración de proyectos.</p>

		<p>La especialidad de Diseño Publicitario, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZReXIzd0FQR3pjWlk">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRaW1PVFlRNjBrM3M">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRMEJmN0FuZ3o1Sms">Plan de Duodecimo Año </a>
 	</nav>
 </div>