 <h2 class="letra center-xs">Ejecutivo para centros de Servicio</h2>
 <div id="especialidad_info">
 	<nav>
 		<center><img src="/assets/ejecutivo.jpg" style="max-width:50% "></center><br>
 		
		<p>El Ejecutivo para  Centros de Servicios es un tema de permanente actualidad en la formación del recurso humano y su popularidad tiene distintos argumentos, por un lado está la relativa facilidad de condiciones para su enseñanza por otro, la fácil inserción laboral de los egresados de la carrera y  la necesidad constante de un ejecutivo para la atención de clientes que ayude al administrador del pequeño, mediano o grande empresa a atender y solucionar todo tipo de situaciones para la  tomar decisiones correctas.</p>	
		<p>En la actualidad,  Ejecutivo para Centros de Servicios la imparten 30 colegios técnicos profesionales, para un total aproximadamente de 700 estudiantes.  En este año se realizará la primera graduación de  alrededor de 355 estudiantes de 15 de estos colegios que cuentan con la especialidad en duodécimo nivel. </p>
		<p>El objetivo de esta  especialidad es dar respuesta a una serie de necesidades labores en el área de  comercio y servicios, principalmente en las zonas francas, rurales, urbanas y así,  contribuir a que en el país se materialicen las condiciones adecuadas para una participación eficiente, en ese mundo de relaciones complejas y cambios vertiginosos. Su creación se basa en los argumentos planteados en las mesas regionales y empresariales efectuados en los últimos dos años con representantes del sector empresarial, docentes, egresados, entre otros.</p>
		<p>
			</p>
		<p>
			</p>

		<p>La especialidad de Ejecutivo para centros de Servicio, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRTHIzZ1h5SlV1ems">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRZVpnRkJfTzlzNkk">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZROWJuc2JlM1ROYzA">Plan de Duodecimo Año </a>
 	</nav>
 </div>