 <h2 class="letra center-xs">Electronica en Telecomunicaciones</h2>
 <div id="especialidad_info">
 	<nav>
 		<center><img src="/assets/electro.jpg" style="max-width:50% "></center><br>
 		
		<p>La  especialidad de Electrónica en Telecomunicaciones forma parte de la oferta educativa de Educación Técnica; y se encuentra influenciada por un constante y acelerado desarrollo tecnológico, que ha hecho evolucionar de manera increíble los conocimientos por impartir.  Esto obliga a un replanteamiento periódico de los contenidos programáticos, en procura de que los egresados de las especialidades fundamentadas en electrónica, afronten el reto de vida laboral con elementos actualizados y acordes a la realidad, tanto tecnológica como política para responder a los nuevos modelos de globalización económica, el desarrollo sostenible, la búsqueda continua de la calidad, las alianzas tecnológicas, el uso de la informática, el manejo de otro idioma y la competitividad entre otros.</p>

		<p>Nuestro país, inmerso en un mundo de constantes cambios, debe preparar a su población para enfrentar la nueva sociedad que día a día se construye, el nuevo individuo deberá poseer una actitud abierta hacia el cambio, hacia la investigación y respeto de las ciencias naturales y sociales.  Debe estar preparado para evolucionar con la tecnología, actualizando constantemente sus conocimientos.  Tiene que asumir un compromiso con el planeta y ser partícipe activo de un proceso de desarrollo sostenible.  Todo lo anterior le permitirá a Costa Rica tener una sociedad que la haga ser competitiva en el siglo XXI.</p>	

		<p>Para responder a estos nuevos modelos de desarrollo, se presenta para las especialidades fundamentadas en Electrónica, una nueva estructura del programa, lo cual da origen a una secuencia ordenada y estructurada del aprendizaje, de modo que una unidad de estudio prepara para la siguiente y le permite a los alumnos tener acceso a aprendizajes más permanentes al recrear o reconstruir el conocimiento a que se enfrentan.</p>

		<p>De acuerdo con los lineamientos de la Política Educativa hacia el Siglo XXI, los programas de Electrónica constituyen un eje de desarrollo social, económico y personal, aportando un valor agregado para la vida, en igualdad de oportunidades y acceso, sin distingo de género.</p>

		<p>La especialidad de Electrónica en Telecomunicaciones, prepara técnicos en el nivel medio capaces de conducir, instruir, dirigir y proyectar tareas de carácter técnico con la finalidad de fabricar y darle mantenimiento preventivo y correctivo al equipo electrónico utilizado en el hogar, en el comercio y en la industria.</p>

		<p>La especialidad de Electronica en Telecomunicaciones, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRbkRMT0pvTVFXanM">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRQkRqaGY4NEx4eTg">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRTXZXTWFKenNIY28">Plan de Duodecimo Año </a>
 	</nav>
 </div>