<header class=""></header>
<div class="center-xs">
	<h1 class="letra">Bienvenidos</h1>
<h2 id="principal" class="letra">Colegio Tecnico Profesional De Santo Domingo</h2>
<h5>Educacion de alta calidad al alcance de todos</h5>
<center><a href="welcome/acerca"><div class="boton"><p class="center-xs" id="boton">Más Información</a></p></div></center>
</div>
<br>
<h3 class="center-xs">Algunas de nuestras especialidades</h3>
<div class="especialidad">
	<nav>
		<ul>
			<li class="col-md-4"><a href="/welcome/conta">Contabilidad y Finanzas</a></li>
			<li class="col-md-4"><a href="/welcome/info">Informatica</a></li>
			<li class="col-md-4"><a href="/welcome/diseno">Diseño</a></li><br>
			<li class="col-md-4"><a href="/welcome/ejecutivo">Ejecutivo para centros de servicio</a></li>
			<li class="col-md-4"><a href="/welcome/produ">Productividad & calidad</a></li>
			<li class="col-md-4"><a href="/welcome/electro">Electronica</a></li>
		</ul><br>
	</nav>
</div><br><hr size="5px" color="black"><br>
<div class="center-xs">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2535.5202699797396!2d-84.0986174152183!3d9.969677764933213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2scr!4v1466263216335" width="1270" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<nav>
<br>
		<div class="text-center">
                    <h4><strong>Nos pueden encontar</strong></h4>
                    <p>Santa Rosa, Santo Domingo<br>Heredia, Costa Rica</p>
                    <p> (506) 2244-3917</p>
					<p>Contactanos en Nuestros correos:</p>
                    <br>
        </div>
</nav>