 <h2 class="letra center-xs">Informatica Empresarial</h2>
 <div id="especialidad_info">
 	<nav>
 		<center><img src="/assets/info.jpg" style="max-width:55% "></center><br>
 		<p>
			En la actualidad el uso y  acceso eficiente a la información es el factor más importante a la hora de determinar el desempeño tanto de una organización como a nivel personal, es a partir de esta que se implementa un proceso de definición de estrategias y toma de decisiones acertado, realista y acorde con los requerimientos del entorno en el que se desenvuelve.	
		</p>
		<p>
			En este contexto el uso de diferentes tecnologías de la información adquiere una importancia estratégica para las diferentes organizaciones, tanto públicas como privadas, impactando tanto en su productividad como en la calidad del bien o servicio que producen, y en la ampliación de las ventajas competitivas de las mismas.  
		</p>
		<p>
			De esta manera el uso efectivo de estas tecnologías puede tener un efecto importante en los sectores productivo, económico y social del país en general, por esta razón, se ha venido promoviendo la integración de estas en las diferentes actividades asociadas al desempeño del país, constituyéndose en uno de los principales factores del desarrollo del mismo y una herramienta fundamental para la consecución de sus metas.
		</p>
		<p>
			Naturalmente, para que se dé un aprovechamiento real del potencial que ofrece este tipo de tecnologías y del impulso que están recibiendo en el ámbito nacional, es importante que el recurso humano esté capacitado y sea el más idóneo de acuerdo con los requerimientos del mercado laboral y productivo del país.
		</p>
		<p>
			Es importante señalar en este punto, el gran crecimiento que se ha reportado en la plataforma tecnológica instalada en el país.  En este contexto surge un nuevo requerimiento de personal en el área de la informática: el relacionado con el soporte técnico; esto por cuanto el aumento en la cobertura y acceso a las tecnologías asociadas a esta área, tanto en el ámbito empresarial como en el doméstico, ha creado una necesidad cada vez mayor de personal especializado en su mantenimiento y actualización.
		</p>
		<p>	Es aquí donde incursiona el CTP Santo Domingo, a través del Departamento de Educación Técnica Profesional, y del sub – sistema en general, formando Técnicos en el Nivel Medio capaces de dar respuesta a estas nuevas necesidades, partiendo del principio de que es la educación el instrumento fundamental para el desarrollo de los individuos y de la sociedad, ampliando la oferta de especialidades en esta área, incluyendo Informática en Redes de Computadoras.
		</p>

		<p>La especialidad de Informatica Empresarial, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRS2hja2lEUk9RWG8">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRdldzOVVSd3lPNlE">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRQnh4OU56UnZ5TVk">Plan de Duodecimo Año </a>
 	</nav>
 </div>