 <h2 class="letra center-xs">Productividad y Calidad</h2>
 <div id="especialidad_info">
 	<nav>
 		<center><img src="/assets/produ.jpg" style="max-width:50% "></center><br>
 		
		<p>El objetivo de la especialidad de Productividad y Calidad es dar respuesta a una serie de necesidades laborales en los sectores productivos del país y contribuir a materializar las condiciones adecuadas para una participación eficiente en las toma de decisiones en las empresas, en un mundo de relaciones complejas y cambios vertiginosos. Su diseño se basa en argumentos planteados en las mesas regionales, empresariales y la intermediación de CINDE (Coalición Costarricense de Iniciativas de Desarrollo).</p>
		<p>Para lograr los objetivos  de productividad y calidad paralelamente, los empresarios deben darse cuenta  que muchos de ellos manejan una disposición hacia los productos y las ventas, y no hacia el mercado y el cliente. Las ventajas que pueden, la  orientación  al mercado de acuerdo con los segmentos de clientes en lugar de productos, desarrollando así el conocimiento profundo a través de la investigación, concluyen que la productividad es elevada en grandes porcentajes.</p>
		<p>La especialidad de Productividad y Calidad,  prepara técnicos en el nivel medio capaces de conducir, instruir, manejar las TIC´s, dirigir y proyectar tareas de carácter técnico con la finalidad de laborar en las diferentes ramas del sector industrial, comercial o de servicios.</p>
		<p>
			</p>

		<p>La especialidad de Productividad y calidad, es una  más de las alternativas que ofrece la Educación Técnica.</p>
 	</nav>
 	<nav>
 		<h3>Puedes encontrar los planes de estudio aquí: </h3>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRakpZRTF5Qm83bEE">Plan de Decimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRZXVCdnR5dmpsSTg">Plan de undecimo Año </a>
 		<a href="https://drive.google.com/open?id=0B5ZgB60ylIZRNHEtUnVoeXJFdzA">Plan de Duodecimo Año </a>
 	</nav>
 </div>